baseURL = "https://blog.greguz.me/"
languageCode = "en-us"
title = "gblog"
copyright = "Giacomo Gregoletto"
enableRobotsTXT = true

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[markup]

  [markup.goldmark]
    [markup.goldmark.parser]
      [markup.goldmark.parser.attribute]
        block = true
        title = true
    [markup.goldmark.renderer]
      unsafe = true

  [markup.highlight]
    anchorLineNos      = false
    codeFences         = true
    guessSyntax        = false
    hl_Lines           = ''
    hl_inline          = false
    lineAnchors        = ''
    lineNoStart        = 1
    lineNos            = false
    lineNumbersInTable = true
    noClasses          = true
    noHl               = false
    style              = 'rrt'
    tabWidth           = 4

  [markup.tableOfContents]
    startLevel = 2
    endLevel   = 3
    ordered    = false

[pagination]
  disableAliases = false
  pagerSize = 10
  path = 'page'

[params]

  [params.author]
    name = "Giacomo Gregoletto"

  [params.theme_config]
    appearance        = "auto"
    back_home_text    = ".."
    date_format       = "2006-01-02"
    isListGroupByDate = false

[security]
  enableInlineShortcodes = true

[taxonomies]
tag = "tags"
