<header class="intro-header" style="background-image: url('{{ root }}{{ image }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% if date %}
          <div class="post-heading">
            <h1>{{ title }}</h1>
            <h2 class="subheading">{{ subtitle }}</h2>
            <span class="meta">Posted on {{ date | formatDate('MMMM D, YYYY') }}</span>
          </div>
        {% else %}
          <div class="site-heading">
            <h1>{{ title }}</h1>
            <hr class="small">
            <span class="subheading">
            {% if subtitle %}
              {{ subtitle }}
            {% else %}
              {{ description }}
            {% endif %}
            </span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
