{{ define "main" }}

<article>
  <h1>{{ .Title }}</h1>

  {{ if .Params.tags }}
    <aside>
      <ul class="tags">
        {{ range .Params.tags }}
          <li><a href="/tags/{{ . | urlize }}/">#{{ . }}</a></li>
        {{ end }}
      </ul>
    </aside>
  {{ end }}

  <!--
  <aside>
    {{ .TableOfContents }}
  </aside>
  -->

  {{ .Content }}
</article>

<hr/>

<div id="remark42"></div>
<script type="text/javascript" defer>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>

{{ end }}
