{{ define "main" }}

<header>
  <h1>{{ $.Site.Title }}</h1>
  {{- if $.Site.Params.theme_config.show_description -}}
    <p>{{ $.Site.Params.description }}</p>
  {{- end -}}
</header>

{{ .Content }}

{{ $tags := slice }}

{{ range $tag, $pages := .Site.Taxonomies.tags }}
  {{ $tags = $tags | append (dict "name" $tag "count" (len $pages)) }}
{{ end }}

<ul>

  <li>info</li>
  <ul>
    <li>
      <a href="{{ "about" | relURL }}">about</a>
    </li>
    <li>
      <a href="https://github.com/greguz">github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/giacomo-g-aa48998a/">linkedin</a>
    </li>
  </ul>

  <li>posts</li>
  {{ partial "post_list.html" (dict "context" . "limit" 5 "show_more" true "show_more_text" "archive" "show_more_url" "posts") -}}

  <li>tags</li>
  <ul>
    {{- range $tag := (sort $tags "count" "desc" | first 5) -}}
      <li>
        <span>{{ $tag.count }}</span>
        <a href="{{ "tags/" | relURL }}{{ $tag.name }}">{{ safeHTML $tag.name }}</a>

      </li>
    {{- end -}}
    <li>
      <a href="{{ "tags" | relURL }}">archive</a>
    </li>
  </ul>

</ul>

{{ end }}
